@import "material-components-web/material-components-web";

body {
    background: #f5f5f5;
}
form {
    width: 40%;
}
.group {
    margin: 30px;
    border: 2px solid white;
    border-radius: 2px;
    background: white;
    box-shadow: 3px 3px 5px #cfcfcf;
    padding: 10px;
}
.wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.inputText {
    position: relative;
    width: 200px;
    height: 35px;
    padding: 7px;
    border: none;
    background-color: white;
}  
.label {
    padding-left: 7px;
    order: -1;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    transform: translateY(29px);
    pointer-events: none;
}
.inputText:hover + .label {
    transform: translateY(-2px);
    color: #303f9f;
    font-size: 14px;
    font-weight: 500;
}
.inputText:focus + .label {
    transform: translateY(-2px);
    color: #303f9f;
    font-size: 14px;
    font-weight: 500;
}
.inputText:valid + .label {
    transform: translateY(-2px);
    color: #303f9f;
    font-size: 14px;
    font-weight: 500;
}
.inputText:valid + .label + .underline {
    background: #303f9f;
    height: 2px;
}
.inputText:hover + .label + .underline {
    background: #303f9f;
    height: 2px;
}
.inputText:focus + .label + .underline {
    background: #303f9f;
    height: 2px;
}
.underline {
    height: 2px;
    width: 200px;
    background-color: black;
    display: inline;
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}
.sideline {
    position: absolute;
    height: 30px;
    width: 2px;
    display: block;
    background: black;
    transition: all 0.4 cubic-bezier(1, 0, 0, 1);
}
.inputText:hover + .label + .sideline {
    height: 0px;
}
p {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    padding: 5px;
}
.receipt {
    float: right;
}
.receiptGroup {
    margin: 30px;
    border: 2px solid white;
    border-radius: 2px;
    background: white;
    box-shadow: 3px 3px 5px #cfcfcf;
    padding: 10px;
    width: 20%;
}
*:focus {
    outline: none;
}